.headerLogin {
    padding: 2vw;
}

.login {
    position: relative;
    z-index: 2;
}

.containerLogin {
    background-color: #0099cc;
    max-width: 40vw;
    width: 100%;
    margin: auto;
    padding: 1.30vw 2.60vw;
    border-radius: 1.30vw;
}

.containerLogin>p:nth-child(1) {
    font-size: 2.083vw;
    font-family: CoreRhino45Bold;
    margin-bottom: 1vw;
}

.containerLogin>p {
    font-size: 0.83vw;
    font-family: CoreRhino45Regular;
}

.logoLoginForm {
    display: block;
    width: 40%;
    margin: 1vw auto;
}

.formLogin label {
    margin: 0;
}

.formLogin>label input {
    color: #cccccc;
    font-family: CoreRhino45Regular;
    font-size: 1.30vw;
    width: 100%;
    margin: 0.52vw 0;
    padding: 0.52vw 0.83vw;
    border: 0;
    border-left: 5px solid #cccc33;
}


.recuerdameContainer {
    margin: 1vw 0 1.5vw;
}

.recuerdame {
    color: #cccccc;
    font-family: CoreRhino45Regular;
    font-size: .83vw;
}

.recuerdame input {
    margin-right: .52vw;
}

.loginMiembro {
    color: #cccc33;
    font-family: CoreRhino45Regular;
    font-size: .83vw;
}

.btnLogin {
    background-color: #cccc33;
    font-family: CoreRhino45Regular;
    width: 100%;
    border-radius: 1.8vw;
    border: 0;
    font-size: 1.04vw;
    letter-spacing: 2px;
    padding: 0.83vw;
}

.artesBottom {
    position: relative;
    z-index: 1;
    margin-top: -20vw;
}

.ilustracionLeft {
    width: 18.5vw;
}

.ilustracionRight {
    width: 19vw;
}

.alertaLogin {
    font-family: CoreRhino45Bold;
    font-size: 1.04vw;
    color: #fff;
}

@media (max-width: 768px) {
    .headerLogin {
        padding: 5vw;
    }

    .headerLogin__departamento {
        width: 50vw;
    }

    .headerLogin__logoGloria {
        width: 20vw;
    }

    .containerLogin {
        max-width: 90vw;
        padding: 5vw;
        border-radius: 4.3vw;
    }

    .containerLogin>p:nth-child(1) {
        font-size: 6.66vw;
    }

    .containerLogin>p {
        font-size: 4.26vw;
    }

    .logoLoginForm {
        width: 60%;
        margin: 5vw auto;
    }

    .formLogin>label input {
        font-size: 5.33vw;
        margin: 2.5vw 0;
        padding: 2vw 3vw;
    }

    .recuerdameContainer {
        margin: 5vw auto;
    }

    .recuerdame {
        font-size: 4.26vw;
    }

    .loginMiembro {
        font-size: 4.26vw;
    }

    .btnLogin {
        font-size: 5.33vw;
        border-radius: 5.8vw;
        padding: 2vw;
    }

    .artesBottom {
        margin-top: 5vw;
    }

    .ilustracionLeft {
        width: 45%;
    }

    .ilustracionRight {
        width: 45%;
    }

    .alertaLogin {
        font-size: 5.33vw;
    }
}